name = "eventangle-staging"
main = "workers/proxy/worker.js"
compatibility_date = "2024-01-01"

routes = [
  { pattern = "stg.eventangle.com/*", zone_name = "eventangle.com" },
  { pattern = "api-stg.eventangle.com/*", zone_name = "eventangle.com" }
]

[vars]
WORKER_ENV = "staging"
UPSTREAM_TIMEOUT_MS = "30000"
